{% extends 'base.html' %}
{% block content%}

<section id="charts"><br>    <br>
<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-md-6">
          <h3 class="s_heading">Patients</h3>
          <p class="s_text">An elderly usually doesnt know or they are confused whether to react to some symptoms or what to do when something is happening. This system will help a patient to take a quick and right decision.</p>
        </div>
        <div class="col-md-6">
              <!--Video-->
                <div class="embed-responsive embed-responsive-16by9 hoverable">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zhxHYizLAJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 </div>
                <br>
              </div>
              <!--Grid column-->
  
        </div>
      </div> 
</section>
<br>
<section id="charts">
  <br>
<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h3 class="s_heading">Doctor</h3>
        <p style="text-align: justify;" class="s_text">Elderly people are not that active and hence it gets difficult to keep a record of their previous illnesses. Thus the doctors sometimes fail to determine the true picture of the patients's illness. Vriddha Seva aims to serve this purpose by providing a sytem which will help predict the illness and also provide the doctors with complete history of the medical record of that person. This will help the doctors to properly diagnose the illness.

        </p>
      </div>
      <div class="col-md-6">
            <!--Video-->
              <div class="embed-responsive embed-responsive-16by9 hoverable">
                <br>
                  <iframe style="padding-top: 25px;" width="560" height="315" src="https://www.youtube-nocookie.com/embed/4JSIyPds9gs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              <br>
            </div>
            <!--Grid column-->

      </div>
    </div> 
</section>
<br>
<section id="charts">
  <br>
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h3 class="s_heading">Kins</h3>
        <p class="s_text">Kins of elderly parents are usually concerned about the health status of their parents while they are away working. This technology can extremely fruitfull in providing the kins with the latest health updates of their elderly parents and hence prompt action can be taken in case of an emmergency</p>
      </div>
    </div>
      
    </div> 
</section>

<section id="charts">

<div class="container">
  <div class="row">
      <div class="col-md-6">
            <!--Video-->
              <div class="embed-responsive embed-responsive-16by9 hoverable">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/vi71I4hiGVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              <br>
            </div>
            <!--Grid column-->
            <div class="col-md-6">
                <!--Video-->
                  <div class="embed-responsive embed-responsive-16by9 hoverable">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/YlxbMWbu2Zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
                  <br>
                </div>
                <!--Grid column-->
    
          

      </div>
    </div> 
</section>



<!-- Footer -->
<section id="footer">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <p style="color:aliceblue;text-align: center;">VriddhaSeva Panel Copyright &copy; 2019</p>
    </div>
    </hr>
  </div>		
</div>
</section>≠
{%endblock%}